<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .custom-input-width {
            width: 300px; /* Ustawia szerokość */
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <h1>Register</h1>
<form th:action="@{/register}" th:object="${customUser}" method="post">
    <div class="form-group">
    <input type="email" id="email" th:field="*{email}" class="form-control custom-input-width" placeholder="Email"/>
    <label class="form-label" for="email">Email</label>
       <!-- <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}"></div>-->
    </div>
    <div class="form-group">
        <input type="password" id="password"  th:field="*{password}" class="form-control custom-input-width" placeholder="Password"/>
    <label class="form-label" for="password">Password</label>
        <!--<div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></div>-->
    </div>
    <div class="form-group">
        <input type="password" id="confirmedPassword" th:field="*{confirmedPassword}" class="form-control custom-input-width" placeholder="Confirm Password"/>
        <label class="form-label" for="confirmedPassword">Confirm Password</label>
        <!--<div th:if="${#fields.hasErrors('confirmedPassword')}" class="alert alert-danger" th:errors="*{confirmedPassword}"></div>-->
    </div>
    <div class="form-group">
        <input type="text" id="role" th:field="*{role}" class="form-control custom-input-width" placeholder="Role"/>
        <label class="form-label" for="role">Role</label>
        <!--<div th:if="${#fields.hasErrors('role')}" class="alert alert-danger" th:errors="*{role}"></div>-->
    </div>

    <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
</body>
</html>
