<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book page</title>
    <style>
        a {
            color: blue;
            text-decoration: none;
        }

        a:visited {
            color: purple;
        }

        a:hover {
            color: green; /* Kolor przy najechaniu kursorem */
        }

        a:active {
            color: red; /* Kolor podczas kliknięcia */
        }
    </style>
</head>
<body>
<h1> Book </h1>
<button onclick="history.back()">Go back</button>
<ul>
    <li><strong>Title:</strong> <span th:text="${book.name}"></span></li>
    <li><strong>Author:</strong> <span th:text="${book.authors}"></span></li>
    <li><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></li>
    <li><strong>Number of Pages:</strong> <span th:text="${book.numbersOfPages}"></span></li>
    <li><strong>Country of Origin:</strong> <span th:text="${book.countryOfOrigin}"></span></li>
    <li><strong>Release Date:</strong> <span th:text="${book.releaseDate}"></span></li>
    <li><strong>Characters:</strong>
        <ul>
            <li th:if="${book.characters == null || book.characters.isEmpty()}">No Characters Available</li>
            <li th:each="characterLink : ${book.characters}"
                th:unless="${book.characters == null || book.characters.isEmpty()}">
                <!--<a th:href="${characterLink}" th:text="${characterLink}">Link Text</a>-->
                <form th:action="@{/book}" method="post">
                    <input type="hidden" name="URIAdress" th:value="${characterLink}"/>
                    <button type="submit" th:text="${characterLink}">View Character</button>
                </form>

            </li>
        </ul>

    </li>
</ul>
<button onclick="history.back()">Go back</button>
</body>
</html>